<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wswAlipay" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wswAlipay</name>
    <preference name="ALIPAYID" />
    <js-module name="wswAlipay" src="www/wswAlipay.js">
        <clobbers target="wswAlipay" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="wswAlipay">
                <param name="ios-package" value="wswAlipay" />
                <param name="onload" value="true" />
            </feature>
            <preference name="ALIPAYID" value="$ALIPAYID"/>
        </config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>alipay</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>alipay</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$ALIPAYID</string>
                    </array>
                </dict>
            </array>
        </config-file>        

        <header-file src="src/ios/wswAlipay.h" />
        <source-file src="src/ios/wswAlipay.m" />
        <header-file src="src/ios/AppDelegate+WSWAlipay.h" />
        <source-file src="src/ios/AppDelegate+WSWAlipay.m" />

        <!-- alipay Official -->
        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="CoreMotion.framework" weak="true"/>
        <framework src="CFNetwork.framework" weak="true"/>
        <framework src="libc++.tbd" weak="true"/>
        <framework src="libz.tbd" weak="true"/>
        <framework src="CoreText.framework" weak="true"/>
        <framework src="CoreGraphics.framework" weak="true"/>
        <framework src="UIKit.framework" weak="true"/>
        <framework src="QuartzCore.framework" weak="true"/>
        <framework src="Foundation.framework" weak="true"/>

        <framework src="src/ios/libs/AlipaySDK.framework" custom="true"/>
        <resource-file src="src/ios/libs/AlipaySDK.bundle"/>

    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wswAlipay">
                <param name="android-package" value="org.apache.cordova.ali.wswAlipay" />
            </feature>
        </config-file>
         <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="android.permission.READ_PHONE_STATE" />
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/Alipay.java" target-dir="src/org/apache/cordova/ali"/>
        <lib-file src="src/android/libs/alipaysdk-15.8.03.210428205839.aar"/>
        <framework src="src/android/Alipay.gradle" custom="true" type="gradleReference"/>

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/wswAlipay.java" target-dir="src/cordova-plugin-wswAlipay/wswAlipay" />
    </platform>
</plugin>